* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 0 165px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

ol {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;

}

a {
    text-decoration: none;
}

.btn {
    width: 148px;
    height: 48px;
    background-color: #BA4270;
    font-size: 15px;
    color: white;
    border-radius: 24px;
    border: none;
    text-align: center;
}

.h1 {
    font-size: 70px;
    width: 600px;
    padding-left: 170px;
}

.img {
    width: 400px;
    padding-right: 80px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 {
    background: #1B262F;
    height: 472px;
    color: white;
    padding: 0 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgs {
    width: 1000px;
   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 62px;
}

.text {
    width: 445px;
}
.plar h1{
    color: #36536B;
font-size: 50px;
padding-bottom: 40px;
}
.plar p{
    color: #6C8294;
width: 445px;
}
.section3{
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
}
@media (max-width:1024px){
    header{
        padding: 0 39px;
    }
    .section2{
        
        flex-direction: column-reverse;
        padding: 40px 0;
    }
    .section2 div{
        text-align: center;
    }
}
@media (max-width:576px){
    header{
        padding: 0 10px;
    }
    ol{
        display: none;
    }
}